#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig EXAMPLES_MY_LVGL
	tristate "my LVGL Demo"
	default n
	depends on GRAPHICS_LVGL && NETUTILS_CJSON
	---help---
		Enable build the Light and Versatile Graphics Library Demo programs

if EXAMPLES_MY_LVGL

config EXAMPLES_MY_LVGL_PRIORITY
	int "lvgldemo task priority"
	default 100

config EXAMPLES_MY_LVGL_STACKSIZE
	int "lvgldemo stack size"
	default 16384

config EXAMPLES_MY_LVGL_INPUT_DEVPATH
	string "Touchscreen device path"
	default "/dev/mytouch"
	depends on INPUT_TOUCHSCREEN
	---help---
		The path to the touchscreen device. Default: "/dev/mytouch"

endif # EXAMPLES_LVGLDEMO
